<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702718960137-oqs4rgavh2ht23plml29tun84nhrkbfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702718960137-oqs4rgavh2ht23plml29tun84nhrkbfp</string>
	<key>API_KEY</key>
	<string>AIzaSyDVAfG98hN3-IwuIl9q1KlRMhvdvsQ_M5g</string>
	<key>GCM_SENDER_ID</key>
	<string>702718960137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riku.bizpark</string>
	<key>PROJECT_ID</key>
	<string>bizpark-86227</string>
	<key>STORAGE_BUCKET</key>
	<string>bizpark-86227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702718960137:ios:d959d0dd0ba7a7214d8ed8</string>
</dict>
</plist>