<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582409484990-h5o1rtin2clbeb2cl1rfc358pnee83m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582409484990-h5o1rtin2clbeb2cl1rfc358pnee83m0</string>
	<key>API_KEY</key>
	<string>AIzaSyBojVjO9xl0w91og3sAHVaQCYDffgJoNZE</string>
	<key>GCM_SENDER_ID</key>
	<string>582409484990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riku.bizpark-dev</string>
	<key>PROJECT_ID</key>
	<string>bizpark-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bizpark-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582409484990:ios:0a5fe642088cfe205f3cef</string>
</dict>
</plist>